@page "/"

<div class="min-vh-100 w-100 d-flex justify-content-center align-content-center">

    <div class="text-center">

        <h1>Welcome</h1>
        <h2>to</h2>
        <h1>ISRAEL KAYABA's assessment</h1>

        <div class="p-5">
            <p class="m-4">
                This interactive tool helps you accurately calculate sales taxes for your purchases,
                taking into account relevant some factors.
            </p>

            <p>
                <NavLink class="d-inline-block btn-primary text-white nav-link p-3 rounded-1" href="sales-taxes" Match="NavLinkMatch.All">
                    Get Started
                </NavLink>
            </p>
        </div>
    </div>

</div>

@code {
 
}
