@inherits LayoutComponentBase

<PageTitle>SalesTaxCalculator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://israel-kayaba.vercel.app/" target="_blank">Israel Kayaba</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
